.copyright.span4
  = "2009 — " + Time.now.year.to_s
  &copy;
  %br
  %strong Мастерская «Рябит»
  %br
  Email:
  = mail_to 'info@riabit.ru'

.span3.pull-right
  %h3 Социальные сети
  Twitter
  = link_to 'leemour', 'http://twitter.com/leemour'
  %br
  LinkedIn
  = link_to 'leemour', 'http://linkedin.com/in/leemour'